<h1>Tupple</h1>
In this document we are going to learn about tuples in python.
Tuples are similar to list, only difference is we cannot update the tuples.
Tuples are immutable datatypes.
In python you seen tuple as a by defualt datatype.

Syntax:
(element1, element2,...)

In [4]:
t = (1,2,3,4)
t
type(t)

tuple

In [5]:
l = [1,2,3,4]
type(l)

list

In [6]:
s = "1,2,3,4"
type(s)

str

Accessing values from tuple

In [13]:
t = (1, 2, 3, 4)
t[1]
t[-1]
t[1:4]

(2, 3, 4)

Updating/Deleting values of the Tuple

In [22]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [23]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

We cannot update/delete values of tuple. If you want you have to create a new tuple with changed value.

By Default datatype of collections in python is tuple.

In [17]:
a = 5
b = 6
a,b

(5, 6)

In [21]:
def myFucntion(*arg):
    print(type(arg))

myFucntion(1,2,3,4)

<class 'tuple'>

Operators on Tuples

In [27]:
t1 = (1,2,3,4,5)
t2 = ('a','b','c')
print(id(t2))
t2 = t1+t2
print(id(t2))
t2

1693792827328
1693792048192

(1, 2, 3, 4, 5, 'a', 'b', 'c')

In [36]:
t1 * int(5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [37]:
4 in t1

True

In [42]:
for i in t2:
    print(i)

1
2
3
4
5
a
b
c